body{
    background-image: url(./image/Fundo-HoraDoDia.jpg);
    background-repeat: repeat;
    background-position: top;
    background-size: 1400px 800px;
    text-align: center;
    position: relative;
    width: 1000px;
    height: 500px;
    top: 50px;
    left: 145px;
    right: 0px;
}
header{
    margin-bottom: 20px;
}

section{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.349);
    width: 400px;
    left: 290px;
    padding: 10px;
    border-radius: 15px;
}
div{
    margin: 10px;
}
#foto{
    border-radius: 5%;
    margin-bottom: 10px;
}
footer{
    margin-top: 540px;
}
