body{
    background-image: url(./image/Fundo-HoraDoDia.jpg);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    position: absolute;
    
}
div{
    margin: 10px;
}
section{
    background-color: #fff;
    width: 500px;
    margin: auto;
    padding: 10px;
    border-radius: 15px;
}
#foto{
    width: 100x;
    height: 100x;
    border-radius: 50%;
    
}